{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}Password change done{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   
   <div class="container">
<div class="row mt-5">
<div class="col-md-8 offset-2">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title "> Change Password Done</h3>
</div>
<div class="panel-body">
<div class="alert alert-success">Password Change Successfully </div>
<iframe src="https://giphy.com/embed/nE9GiM1Wb9pG8" width="580" height="399" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
</div>
</div>

</div>

</div>
  
  </div>
 </div>
</div>
{% endblock main-content %}