{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
         {% endfor %}
  {% endif %}
 
 <h3>Welcome {{request.user.username }}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <form method="post" novalidate>
     <h1 class="login-title">Change Password</h1>
              {% csrf_token %} 
              {% for fm in form %}
              <div class="form-group">
                {{ fm.label_tag }}
                {{ fm }}
                <small class='text-danger'>{{ fm.errors|striptags }}</small> <br>
              </div>
              {% endfor %}
      <button type="submit" class="btn btn-dark btn-lg btn-block mt-4">Change Password</button>     
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}