{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid img-thumbnail">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.title}}</h2>
   <hr>
   <p>{{product.description}}</p> <br>
   {% if item_already_in_cart  %}
    <a href="{% url 'showcart' %}" class="btn btn-primary shadow px-5 py-2">Go to Cart</a>
    {% else %}
        <form action="/add-to-cart" class='d-inline'>
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{product.id}} id='product_id'">
            <button type="submit" class="btn btn-primary shadow px-5 py-2">Add to Cart</button>
        </form>
    {% endif %}
   <h5 class="mt-5"> Nutrition Facts</h5>
    <hr>
    <table class='table border'>
        <tr>
        <td>Total Calories</td>
        <td>{{product.total_calroes}}</td>
        </tr>
        <tr>
        <td>Protein</td>
        <td>{{product.total_protein}}</td>
        </tr>
        <tr>
        <td>Fat</td>
        <td>{{product.total_fat}}</td>
        </tr>
        <tr>
        <td>Carbohydrates</td>
        <td>{{product.total_carbohydrates}}</td>
        </tr>
        <tr>
        <td>Sugar</td>
        <td>{{product.total_sugar}}</td>
        </tr>
        <tr>
        <td>Sodium</td>
        <td>{{product.total_sodium}}</td>
        </tr>
        <tr>
        <td>Calcium</td>
        <td>{{product.total_calcium}}</td>
        </tr>
        <tr>
        <td>Potassium</td>
        <td>{{product.total_potassium}}</td>
        </tr>
    </table>
  </div>
 </div>
</div>
{% endblock main-content %}