{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}All Products{% endblock title %}

{% block main-content %}
<div class="container my-5">
{% comment %} categories {% endcomment %}
<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a href="{% url 'product' %}" class="list-group-item list-group-item-action ">
                All Products
            </a>

            <a href="{% url 'productdata' 'Vegetables' %}" class="list-group-item list-group-item-action">Vegetables</a>
            <a href="{% url 'productdata' 'Dairy' %}" class="list-group-item list-group-item-action">Dairy</a>
            <a href="{% url 'productdata' 'Fruits' %}" class="list-group-item list-group-item-action">Fruits</a>
            <a href="{% url 'productdata' 'Fish' %}" class="list-group-item list-group-item-action">Fish</a>
        </div>
       
    </div>
    <div class="col-md-10">
       <div class="row">
        {% for product in all_Products %}
        <div class="col-md-4">
        <div class="card mb-4 rounded-4 shadow-2-strong">
            <img src="{{product.product_image.url}}" class="card-img-top" alt="{{ product.title }}" height='300px'>
            <div class="card-body text-center">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">Price: {{ product.selling_price }}</p>
            <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">View Details</a>
            <a href="{% url 'add-to-cart' %}" class="btn btn-danger">Add to Cart</a>
            </div>
        </div>
        </div>
        {% endfor %}
        </div>
    </div>
    
</div>

 <div class="row">
    <div class="col-md-12">
     <h1 class="text-center">All Products</h1>
     
    </div>
 </div>
    



{% endblock main-content %}





