{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
   <h3>Customer Registration</h3>
   <hr>
   {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{message}}" role="alert" {% endif %}>
          {{ message }}
        </div>
         {% endfor %}
    {% endif %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
         {% endfor %}
    {% endif %}
   <form action="" method="post" novalidate class="shadow p-5">
   {% csrf_token %} 
   {% for fm in form %}
   <div class="form-group">
      {{ fm.label_tag }}
      {{ fm }}
      <small class='text-danger'>{{ fm.errors|striptags }}</small> <br>
   </div>
   {% endfor %}
    
      <div class="form-group">
         <input type="submit" value="Register" class="btn btn-primary">
      </div>
      <div class="text-center text-primary fw-bold"><small>New to Nutranta <a href="{% url 'login' %}"
       class="text-danger">All ready have an account</a> </small></div>

   </form>
  </div>
 </div>
</div>
{% endblock main-content %}