{% extends 'nutranta/base.html' %}
{% load static %}
{% block title %}Thank you for contacting us{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h3 class="panel-title "> Thank you for contacting us</h3>
    </div>
    <div class="panel-body">
    <div class="alert alert-success">Thank you for contacting us. We will get back to you soon. <b> Nutranta Team </b></div>
    </div>
 

</div>

</div>
  
  </div>
 </div>
</div>
{% endblock main-content %}